extends layout

block content

  h1= title
  h2= subTitle 

  ul#clickableList 

  each workout in mytable
    p= workout.name  
    table#workoutTable
      tr
        th Exercise
        th Description
        th Sets
        th Repetitions
      
      each exercise in workout.exercises
        tr
          td= exercise.name
          td= exercise.Description
          td= exercise.Sets
          td= exercise.Repetitions
        
  p Make your own exercise program
  
  div
    p Workout Name
    input#nameOfWorkout(type="text" placeholder="Name of Workout")
  br  
  table#newWorkoutTable
    tr
      th Exercise
      th Description
      th Sets
      th Repetitions
    tr
      td
        input(type="text" placeholder="Name of Exercise")
      td
        input(type="text" placeholder="What to do ?")
      td
        input(type="text" placeholder="How many sets?")
      td
        input(type="text" placeholder="How many repetitions?")
  button#addRow(onclick="addRow()") Add exercise

  button#clickme(type="submit") Add Workout


  
    
  
  

  
  script(src="/javascripts/index.js")
  

  


